<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<div class="page-wrapper">
    <header class="header transparent scroll-hide">
        <div class="site-navbar-wrap v2">
            <div class="container">
                <div class="site-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-6">
                            <a class="navbar-brand" href="#"><img src="../../assets/img/hp 4-01.png" alt="logo" class="img-fluid" style="width: 30%;"></a>
                        </div>
                        <div class="col-md-8 col-6">
                            <nav class="site-navigation float-left">
                                <div class="container">
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li class="no-children">
                                            <a href="" routerLink="">Home</a>
                                        </li>
                                        <li class="no-children">
                                            <a href="" routerLink="/about">About Us</a>
                                        </li>
                                        <li class="no-children">
                                            <a href="" routerLink="/events">Our Events</a>
                                        </li>
                                        <li class="no-children">
                                            <a class="btn v8" routerLink="/registration">Pre Registration K2K<i class="icofont icofont-plus-circle"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
          <div class="col-md-4 col-6">
              <a class="navbar-brand" href="#"><img  src="../../assets/img/hp 4-01.png" alt="logo" class="img-fluid" style="width: 35%;"></a>
          </div>
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
        
              </div>
              <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item"><a routerLink="">Home</a></li>
                  <li class="nav-item"><a routerLink="/about">About Us</a></li>
                  <li class="nav-item"><a routerLink="/events">Our Events</a></li>
                  <li class="d-lg-none nav-item"><a routerLink="/registration">Pre Registration K2K</a></li>
              </ul>
              </div>
           </div>
          </div>
    </header>
    <!--Header ends-->
        <!--User Login section starts-->
        <br><br>
        <div class="user-login-section section-padding bg-fixed" style="background-image: url(../../assets/img/straling.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1  text-center">
                        <div class="login-wrapper">
                            <ul class="ui-list nav nav-tabs justify-content-center mar-bot-30" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#register" role="tab" aria-selected="true">Registration</a>
                                </li>
                            </ul>
                            <div class="ui-dash tab-content">
                                <div class="reg" id="register" role="tabpanel">
                                    <form id="register-form" action="#" method="post">
                                        <div class="container_1">
                                            <div class="form-group">
                                                <label for="name"><b>Name</b></label>
                                                <input type="text" placeholder="Name" name="name" id="name" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="email"><b>Email Id</b></label>
                                                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile"><b>Mobile Number</b></label>
                                                <input type="text" placeholder="Mobile Number" name="mobile" id="mobile" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="aadhar"><b>Aadhar Card</b></label>
                                                <input type="number" placeholder="Aadhar Number" name="aadhar" id="aadhar" required>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label for="upload1"><b>Upload your Aadhar Card</b></label>
                                                 <br><br>
                                                <input type="file"  name="upload1" id="upload1" required style="width: 80%;">
                                            </div>
                                            <div class="form-group">
                                                <label for="bike"><b>Motorcycle planning to take along with you on the K2K ride</b></label>
                                                <input type="text" placeholder="Bike Name" name="bike" id="bike" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="bikeNumber"><b>Registered motorcycle number</b></label>
                                                <input type="number" placeholder="Bike number" name="bikeNumber" id="bikeNumber" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="certificate"><b>Upload your Registration Certificate (R.C.) of above mentioned motorcycle</b></label>
                                                <input type="file" name="certificate" id="certificate" required style="width: 80%;">
                                            </div>
                                            <div class="form-group">
                                                <label for="fb"><b>Facebook profile/page link</b></label>
                                                <input type="text" placeholder="Facebook Link" name="fb" id="fb" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="insta"><b>Instagram profile/page link</b></label>
                                                <input type="text" placeholder="Instagram Link" name="insta" id="insta" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="youtube"><b>Youtube Channel Link</b></label>
                                                <input type="text" placeholder="Youtube Link" name="youtube" id="youtube" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="vlog"><b>Vlog/Photography portfolio/any other activity</b></label>
                                                <input type="text" placeholder="Portfolio" name="vlog" id="vlog" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="bike_2"><b>Motorcycle(s) you ride</b></label>
                                                <input type="text" placeholder="Bike Name" name="bike_2" id="bike_2" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mean"><b>What does Motorcycle mean to you?</b></label>
                                                <input type="text" placeholder="Motorcycle means to you..." name="mean" id="mean" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="experience"><b>Riding experience/background (if any)</b></label>
                                                <input type="text" placeholder="Experience" name="experience" id="experience" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="group"><b>Belong to any riding group?</b></label>
                                                <input type="text" placeholder="Group" name="bike_2" id="group" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="km"><b>Maximum km's you've covered in one go</b></label>
                                                <input type="number" placeholder="In KM" name="km" id="km" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="km1"><b>Maximum km's you can ride</b></label>
                                                <input type="number" placeholder="In KM" name="km1" id="km1" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="about"><b>What do you think about the K2K ride?</b></label>
                                                <input type="text" placeholder="About K2K" name="about" id="about" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="time"><b>How early can you wake up for a motorcycle ride?</b></label>
                                                <input type="time" placeholder="Time" name="bike_2" id="bike_2" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>Total number of hours for a motorcycle ride in a day?</b></label>
                                                <input type="number" placeholder="Hour" name="hour" id="hour" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>Preference</b></label>
                                                <select type="text" id="ride" name="ride">
                                                    <option value="">---Select---</option>
                                                    <option value="Solo Ride">Solo Ride</option>
                                                    <option value="Group Ride">Group Ride</option>
                                                </select>
                                                <br>
                                                <select type="text" id="planning" name="planning">
                                                    <option value="">---Select---</option>
                                                    <option value="Pre Planned Rides">Pre Planned Rides</option>
                                                    <option value="Random Rides">Random Rides</option>
                                                </select>
                                                <br>
                                                <select type="text" id="activity" name="activity">
                                                    <option value="">---Select---</option>
                                                    <option value="Sight Seeing">Sight Seeing</option>
                                                    <option value="Group Activity">Group Activity</option>
                                                </select>
                                                <br>
                                                <select type="text" id="day" name="day">
                                                    <option value="">---Select---</option>
                                                    <option value="Day Ride">Day Ride</option>
                                                    <option value="Night Ride">Night Ride</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="know"><b>How do you came to know about the K2K ride?</b></label>
                                                <input type="text" placeholder="Source" name="know" id="know" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="hours"><b>During the K2K ride one of your riding partner get injured you will :-</b></label>
                                                <select type="text" id="injured" name="injured">
                                                    <option value="">---Select---</option>
                                                    <option value="Stop for his/her assistance and let the team move ahead">Stop for his/her assistance and let the team
                                                     move ahead</option>
                                                    <option value="Stop the whole team">Stop the whole team</option>
                                                    <option value="Ignoring and continue the ride">Ignoring and continue the ride</option>
                                                    <option value="Informing the medical assistance team and move ahead">Informing the medical assistance team and move
                                                    ahead</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="riding"><b>What does riding means to you?</b></label>
                                                <input type="text" placeholder="Riding means to you..." name="riding" id="riding" required>
                                            </div>
                                            <div class="form-group"></div>
                                            <div class="form-group"></div>
                                        <hr>
                                        <button type="submit" class="registerbtn">Preview</button>
                                         </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

 <!--Footer Starts-->
 <div class="footer-wrapper no-pad-tb v2">
    <div class="footer-top-area section-padding">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-logo">
                        <a href="index.html"> <img src="../../assets/img/hp 4-01.png" style="width: 50%;" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Helpful Links</h2>
                        <ul class="list">
                            <li><a class="link-hov style2" href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Category</h2>
                        <ul class="list">
                            <li><a class="link-hov style2" href="#">Shop</a></li>
                            <li><a class="link-hov style2" href="#">Travel</a></li>
                            <li><a class="link-hov style2" href="#">Sport</a></li>
                            <li><a class="link-hov style2" href="#">Restaurant</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Contact us</h2>
                        <ul class="list footer-list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-email"></i>
                                    </div>
                                    <div class="text"><a href="#">info@hashtag.com</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-telephone"></i>
                                    </div>
                                    <div class="text">+91987654312</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="icofont icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont icofont-youtube"></i></a></li>
                            <li><a href="#"><i class="icofont icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-right sm-left">
                    <ul class="additional-link">
                        <li><a href="#">Terms &amp; Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>